@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #28283D;
  --color-secondary: #fff;
  --deep-cove: #04053e;
  --black: #000;
  --white: #fff;
  --bright-turquoise: #00ffc3;
  --dull-turquoise: #04E3AE;
  --royal-blue: #5a33e9;
  --athens-gray: #f7f8fa;
}

/* carousel image */

.carousel-img {
  max-height: 100vh;
}

#videoDiv2 {
  width: 100%;
  max-width: 1356px;
  margin: auto;
  display: block;
  position: relative;
}


#video2 {
  width: 100%;
  height: auto
}

#videoMessage2 {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}



